<% if user_signed_in? %>
  <h1 class='page-header'>Welcome, <%= current_user.username.capitalize %></h1>

  <% if current_user.pro? %>
    You mad, pro?
  <% end %>
<p>
  Membership: <%= current_user.membership %>
</p>
<% else %>
  You should log in.
<% end %>
